header {
  background-color: #654321;
  font-family: Palitino, Arial;
  color: white;
}
#feral-hidden {
  text-decoration: none;
  color: inherit;
}
#rows-op-hidden {
  text-decoration: none;
  color: inherit;
}
#finns-op-hidden {
  text-decoration: none; 
  color: inherit;
}
